numpy
cvxopt
matplotlib
PIL
cython
scikit-learn
git+git://github.com/amueller/pyqpbo.git#egg=pyqpbo
git+git://github.com/fgregg/AD3#egg=AD3

#git clone git://git.tuebingen.mpg.de/libdai.git
#git+git://github.com/amueller/daimrf.git#egg=daimrf
